[general]
# This is the path and file name of where the SM's log file is stored.
# required; default: sm.log string
log_file=sm.log
graylog_api=log.cloudcomplab.ch
graylog_port=12201

#image:tag_name

[service_manager]
# This is the location where the service orchestrator bundle is located
# optional; local file system path string
# TODO if not present the SM will look for a filename bundle/data/service_manifest.json
manifest=/mcn-sms/d-aaa-sm/bundle/data/service_manifest.json

# This is the location where the service orchestrator bundle is located
# required; local file system path string
# bundle_location=/home/fedora/aaa-sm/bundle
# bundle_location=mobilecloudnetworking/d-aaa-sm
# ====== CHANGE_ME ==========
#bundle_location=mobilecloudnetworking/aaa_so:latest
bundle_location=mobilecloudnetworking/d-aaa-so:latest

# This is the endpoint where the keystone service runs
# required; default: http://localhost:35357/v2.0; a URL string
design_uri=http://bart.cloudcomplab.ch:35357/v2.0

[service_manager_admin]
# This enables service registration with keystone
# required; values: {True | False}
register_service=True

# This is the token that the registration should be doe with
# required if registration enabled; a service token string
# expires 2015-10-23T13:24:49Z
service_token=9fd47464cf15462aabee780b63a284c5

# This is the tenant name that the registration should be doe with
# required if registration enabled; a tenant name string
service_tenant_name=mcntub

# This is the OpenStack Region where the service will be available
# optional; default: RegionOne, a string
region=RegionOne

[cloud_controller]
# This is the endpoint where the cloud controller service runs
# required; default: http://localhost:8888; a URL string
nb_api=http://cc.cloudcomplab.ch:8889
user=demo
pwd=LU4JiFJSuL0H3r5bCJ1A3A

# connection retries: time to wait between attempts
wait_time=10000

# connection retries: number of retries to make
max_attempts=20